<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.protone.seenn">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" /> -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".SeennApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Seenn"
        tools:ignore="DataExtractionRules">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity android:name=".NoteSyncActivity" />
        <activity android:name=".NoteActivity" />
        <activity android:name=".PictureBoxActivity" />
        <activity android:name=".GalleyActivity" />
        <activity android:name=".MusicActivity" />
        <activity android:name=".AddBucketActivity" />
        <activity android:name=".NoteEditActivity" />
        <activity android:name=".NoteViewActivity" />
        <activity android:name=".GalleyViewActivity" />
        <activity android:name=".PickMusicActivity" />
        <activity android:name=".UserConfigActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".broadcast.MusicSer"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.WorkService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".broadcast.MusicReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="PlayMusic" />
                <action android:name="PauseMusic" />
                <action android:name="NextMusic" />
                <action android:name="PreviousMusic" />
                <action android:name="FinishMusic" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.WorkReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="UPDATE_MUSIC_BUCKET" />
                <action android:name="UPDATE_MUSIC" />
                <action android:name="UPDATE_GALLEY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.protone.seenn.broadcast.ApplicationBroadCast"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="MUSIC" />
                <action android:name="FNINSH" />
            </intent-filter>
        </receiver>
    </application>

</manifest>